<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>X-Probe</title>
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="../../css/default.css" media="all" />
<link rel="stylesheet" type="text/css" href="../../css/style.css" media="all" />
</head>
<body>
 <wicket:panel>

  <table class="septable">
   <tr>
    <td><label><input type="checkbox" wicket:id="dateselectpanel_check"/>指定する</label></td>
    <td wicket:id="dateselectpanel_dateField">[(共通部品)年月日時分の選択]</td>
   </tr>
  </table>
  <!--
  <label><input type="checkbox" wicket:id="dateselectpanel_check"/>指定する</label>
  <span wicket:id="dateselectpanel_dateField">[(共通部品)年月日時分の選択]</span>
   -->
 </wicket:panel>
</body>
</html>
